<div class="row">
  <div class="span6">
    <h2>login</h2>
    Username <input type="text" /> <br />
    Password <input type="text" />
  </div>

  <div class="span6">
    <h2>what is listnr?</h2>
    <p>Listen to your music anywhere. Share your songs and connect with your people.</p>

    <p>listnr is a new concept of music player and social network. Using the most powerful and modern web features you'll be able to listen, share and connect in your browser, and it doesn't care if it's in your PC, Mac, iOS or Android: just press play and enjoy.</p>

    <p>Want to join listnr?<br />
    Ask for an invitation here.</p>
  </div>
</div>